/*
--text: #dde9f2;
--background: #030609;
--primary: #99c1df;
--secondary: #255b83;
--accent: #3d90ce;
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #030609; /* Dark background */
    color: #dde9f2; /* Light text */
}
/* Header 1 */
title{
    text-align: center;
}
h1 {
    font-weight: bold; /* Change the font size */
    color: #99c1df; /* Change the text color */
    text-align: center;
}
/* Header 2 */
h2 {
    font-weight: 550px;
    color: #255b83;
    text-align: center;
}

/* Header 3 */
h3 {
    font-weight: 350px;
    color: #3d90ce;
    text-align: center;
}

a {
    color: #bb86fc; /* Example link color */
}
