body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}
/* Header 1 */
h1 {
    font-size: 32px; /* Change the font size */
    color: #ff5733; /* Change the text color */
    border-bottom: 2px solid #ff5733; /* Add a bottom border with specific thickness and color */
    padding-bottom: 5px; /* Optional: add some padding below the text */
}

/* Header 2 */
h2 {
    font-size: 28px;
    color: #33aaff;
    border-bottom: 1px solid #33aaff;
    padding-bottom: 5px;
}

/* Header 3 */
h3 {
    font-size: 24px;
    color: #33ff57;
    border-bottom: 1px dashed #33ff57; /* Example of a dashed line */
    padding-bottom: 5px;
}

/* and so on for other headers... */

a {
    color: #bb86fc; /* Example link color */
}
