body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}
/* Header 1 */
h1 {
    font-weight: bold; /* Change the font size */
    color: #ff5733; /* Change the text color */
}

/* Header 2 */
h2 {
    font-weight: 550px;
    color: #33aaff;
}

/* Header 3 */
h3 {
    font-weight: 350px;
    color: #33ff57;
}

a {
    color: #bb86fc; /* Example link color */
}
